.globalContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerFormContainer1 {
  width: 360px;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid red;
}
.mobileTime {
  position: relative;
  left: -150px;
  top: -40px;
}

.inputFieldsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  width: 100%;
}

.name {
  position: relative;
  top: 50px;
  left: 15px;
}

.mobileAndEmailContainer {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: -50px;
  left: 15px;
  width: 100%;
}
.mobile {
  width: 50%;
}
.email {
  position: relative;
  width: 50%;
  left: 0px;
}

.dob {
  position: relative;
  top: -150px;
  left: 15px;
  width: 50%;
}
.dropdownContainer {
  position: relative;
  top: -180px;
  left: 15px;
}
.registerBtn {
  position: relative;
  top: 0px;
  left: -100px;
  width: 240%;
  background-color: red;
}