.globalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerFormContainer1 {
  width: 360px;
  height: 800px;
  border: 1px red solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mobileTime {
  position: relative;
  left: -150px;
  top: -10px;
}

.inputFieldsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  width: 100%;
}

.name {
  position: relative;
  top: 50px;
  left: 5px;
}

.mobileAndEmailContainer {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: -150px;
  left: 5px;
  width: 100%;
}
.mobile {
  width: 50%;
}
.email {
  position: relative;
  width: 50%;
  left: 0px;
}

.dob {
  position: relative;
  top: -330px;
  left: 5px;
  width: 50%;
}

.splashButton {
  position: relative;
  top: 0px;
  left: -100px;
  width: 240%;
}

.inputFieldHeader {
    width: 128px;
    height: 17px;
  
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 11.187px;
    line-height: 150%;
  
    /* identical to box height, or 17px */
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
  
    /* Text / Secondary - Grey2 */
    color: #6f7482;
  
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  .labelContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8.39024px;
    gap: 6.99px;
  
    width: 90%;
    height: 33.78px;
  
    background: #f8fafc;
    border-radius: 2.79675px;
  
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
  
  .inputFieldLabel {
    width: 100%;
    height: 17px;
  
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 11.187px;
    line-height: 150%;
  
    /* identical to box height, or 17px */
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
  
    color: #b8bcca;
  
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }