.register {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;

  position: relative;
  top: -800px;
  left: 1500px;
  z-index: 1;

  width: 75px;
  height: 44px;

  background: #abbeff;
  border-radius: 8px;
}

.registerbtn {
  width: 60px;
  height: 24px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;

  /* identical to box height, or 160% */
  display: flex;
  align-items: center;

  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.userDetailsTable {
  box-sizing: border-box;

  position: absolute;
  width: 1258px;
  height: 218px;
  left: calc(50% - 1258px / 2 + 0.5px);
  top: 248px;
  
  border: 1px solid #cccccc;
}

.headers {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  width: 1258px;
  height: 47px;

  background: #04aa6d;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.userDetailRow {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 10px;

  width: 1258px;
  height: 47px;
  background: #ffffff;
  border-bottom: 1px solid #dddddd;
}

.headerText {
  width: 84px;
  height: 24px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;

  /* identical to box height, or 160% */
  display: flex;
  align-items: center;

  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

#even {
  background: #e7e9eb;
}
#odd {
  background: #ffffff;
}

.viewDetailsbtn {
  width: 37px;
  height: 24px;
  left: 1357px;
  top: 6px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;

  /* identical to box height, or 160% */
  display: flex;
  align-items: center;

  color: #3c67ff;
}
