.inputFieldContainer {
  position: relative;
  width: 319px;
  height: 33.78px;
  display: flex;
  flex-direction: column;
}

.inputFieldHeader {
  width: 128px;
  height: 17px;

  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 11.187px;
  line-height: 150%;

  /* identical to box height, or 17px */
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;

  /* Text / Secondary - Grey2 */
  color: #6f7482;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.labelContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8.39024px;
  gap: 6.99px;

  width: 319px;
  height: 33.78px;

  background: #f8fafc;
  border-radius: 2.79675px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.inputFieldLabel {
  width: 58px;
  height: 17px;

  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 11.187px;
  line-height: 150%;

  /* identical to box height, or 17px */
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;

  color: #b8bcca;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
