.splashButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 8px;
  gap: 4px;

  border-radius: 4px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
}

.default {
  background: #274384;
  color: #ffffff;
}

.white {
  background: #ffffff;
  color: #001eff;
}

.text {
  width: 100%;
  height: 22px;

  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  flex: none;
  order: 0;
  flex-grow: 0;
  cursor: pointer;
}

.select {
  width: 130px;
  height: 34px;
}

.proceed {
  width: 326px;
  height: 44px;
}

.submit {
  width: 265px;
  height: 44px;
}
