.globalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.splashContainer {
  width: 360px;
  height: 800px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.logoTextContainer {
  position: relative;
  top: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.embifiHeading {
  width: 83px;
  height: 20px;

  color: #000000;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.5px;
}

.embifiLogo {
  position: relative;
  top: 15px;
  width: 131px;
  height: 40px;
  color: black;
}
